.idea/
.run/
scratch/
.vscode/

*.pyc

.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*.backup

*.iso
bin/
env/

tf/secret.yaml

docker/auth-proxy/authfail_img
docker/stable-diffusion/models
docker/stable-diffusion/stable-diffusion-webui
k8s/tmp_manifests
