mariadb:
    root_password: ""

deluge:
    username: ""
    password: ""

pydio:
    username: ""
    password: ""

photoprism:
    password: ""

calibre:
    password: ""

calibre_web:
    password: ""

postgresql:
    root_password: ""